# Exclut TOUS les dossiers build et managed_components du dépôt
**/build/
**/managed_components/
**/dependencies.lock* . z i p 
# --- Exclusions spécifiques demandées ---
# Ignore les composants espressif dans le dossier carte_ecran
carte_ecran/components/espressif__esp-brookesia/
carte_ecran/components/espressif__esp_cam_sensor/

# --- Rappel des règles précédentes pour lvgl_demo_v8 ---
carte_ecran/ESP-IDF/*
!carte_ecran/ESP-IDF/lvgl_demo_v8/

# On ignore le build et les composants gérés dans le projet v8
carte_ecran/ESP-IDF/lvgl_demo_v8/build/
carte_ecran/ESP-IDF/lvgl_demo_v8/managed_components/
carte_ecran/ESP-IDF/lvgl_demo_v8/dependencies.lock

# Sécurité globale
*.zip
*.tar.gz